* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

body {
    display: grid;
    grid-template-columns: 1 1 1 ;
    justify-content: center;
    background: url('./veg.jpg');
    background: url('./bistro10.jpeg');
    background-position: center top;

}

header {
    padding: 10px;
    align-items: center;
}

.title {
    display: grid;
    justify-content: center;
    background-color: rgba(240, 255, 247, 0.692);
 
    font-size: 5rem;

    padding: 30px 0px;
    margin: 0px 0px;
    border-radius: 10px;
   
}

nav {
}


button {
    background-color: rgba(240, 255, 247, 0.692);
    color: Black;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    border-width: 0px;

    font-size: 1.3rem;


  }

  #content {
    background-color: rgba(240, 255, 247, 0.692);
    border-radius: 10px;


  }

  .categoryDiv {
    font-size: 2rem;
    padding: 10px
  }

  .menuItem {
    padding: 5px 15px;
  }

.about {
  padding: 15px;
}

  .homeDiv {
    display: grid;
    align-items: center;
    padding: 20px;
  }

  .contact {
    padding: 20px
  }